<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.healthy">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SET_ALARM"/>
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:xlargeScreens="true"
        android:smallScreens="true"/>

    <application
        android:windowSoftInputMode="adjustPan"
        android:name=".App"
        android:configChanges="locale|orientation"
        android:fullBackupContent="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".UI.Activity.SplashActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan|stateHidden"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".UI.Activity.MainActivity"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="InnerclassSeparator" />
        <activity android:name=".UI.Activity.BMIResultsActivity" tools:ignore="InnerclassSeparator" />
        <activity android:name=".UI.Reminder.Alert" android:theme="@android:style/Animation.Dialog" tools:ignore="InnerclassSeparator"> </activity>
        <activity android:name=".UI.Activity.BaseActivity" tools:ignore="InnerclassSeparator" />
        <activity android:name=".UI.Activity.WelcomeActivity" tools:ignore="InnerclassSeparator" />

        <receiver android:name=".Services.AlarmReceiver" android:exported="false" android:enabled="true" tools:ignore="InnerclassSeparator" />
        <receiver android:name=".Services.NotificationReceiver" android:exported="false" android:enabled="true" tools:ignore="InnerclassSeparator"/>
        <receiver android:name=".Services.PreferencesCleanReceiver" android:exported="false" android:enabled="true" tools:ignore="InnerclassSeparator" />
        <service android:name=".UI.Pedometer.SensorListener" tools:ignore="InnerclassSeparator" />
        <service android:name=".Services.WidgetUpdateService" tools:ignore="InnerclassSeparator" />
    </application>
</manifest>
